body {
margin: 0;
color: #fff;
color: black;
}
*, *:after, *:before {
    box-sizing: border-box;
    
}
.wrapper {
  width:1440px;
  height: 1109px;
  background-color:#1B3764;
  background-size: cover;
  margin: 0px auto;
  }
.container{
  max-width: 1300px;
  margin: 0px auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

}
.navlogo{
  margin-right: 10px;
}
.pages{
  margin-right: 40px;
}
.navlink{
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  line-height: 25.5px;
  font-weight: 400;
  color:white;
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}
.navlink:hover{
  color: #FFCA42;
}
.nav_toggle{
  width: 30px;
  position:relative;
  right: 20px;
  z-index: 1;
  display: none;
}

.navlink1{
  background: #FFCA42; 
  font-size: 19px;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 28.5px;
  padding:20px 60px ;
  color: black;
  width: 222px;
  height: 66px;
  margin: 0 30px;
  text-decoration: none;
}
.welcome{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.left_text{
  flex: 1;
  color: white;
}
.right_img{
  flex: 1;
  padding-top: 200px;
  margin-left: 20px;
}
.wtp{
 font-size: 21px;
 font-family: 'Cardo', serif;
 font-weight: 400;
 line-height: 36px;
}
.your_b{
font-size:64px ;
font-weight: 400;
line-height: 78px;
font-family: 'Cardo', serif;
}
.we_b{
font-size: 18px;
font-weight: 400;
line-height: 28.5px;
color: #B4C7E7;
font-family: 'Inter', sans-serif;
}
.navlink2{
  background: #FFCA42; 
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  padding:20px 60px ;
  color: black;
  width: 222px;
  height: 66px;
  text-decoration: none;
  position: relative;
  top: 50px;
  font-family: 'Cardo', serif;
}
.readfree{
  color: white;
  margin-left: 50px;
  font-size:19px ;
  text-decoration: none;
  border-bottom: 2px solid #B4C7E7;
  position: relative;
  top: 50px;
  font-family: 'Cardo', serif;
}
.line{
  margin-bottom: 5px;
  margin-right: 10px;
}
.inf{
  position: relative;
  top: 125px;
}
.inf1{
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-right: 75px;
  font-family: 'Cardo', serif;
}
.inf2{
  font-size: 17px;
  font-weight: 400;
  color: #B4C7E7;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
}
.inf3{
margin-left: 78px;
}
.inf4{
margin-left: 103px;

}
.author{
  padding: 80px;
}
.author_title{
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0 ;
  font-family: 'Cardo', serif;
}
.tab{
  margin-bottom: 0;
}
.order{
  display: flex;
  justify-content: center;
}
.atomic{
  flex:1;
}
.dark{
  flex:1;
}
.text_atomic{
  flex:1;
}
.text_dark{
  flex:1;
}
.bigline{
 padding: 40px 0px 50px 0px;
}
.size32{
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  font-family: 'Cardo', serif;
}
.size21{
  color: #FFCA42;
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.size19{
  color: #969AA0;
  font-size: 19px;
  margin:0 ;
  line-height: 34.2px;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
}
.size24{
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 400;
  color: #1B3764;
  font-family: 'Cardo', serif;
}
.whiteborder{
  font-size: 19px;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 28.5px;
  padding:20px 60px ;
  color: black;
  width: 222px;
  height: 66px;
  text-decoration: none;
  position: relative;
  top:40px;
 border: 2px solid #FFCA42 ;
}
.about{
  width:1440px ;
  height: 960px;
  background-color: #F5F8FC;
  margin: 0 auto;
}
.split_about{
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.img_about2:hover {
transform:translate3d(-20px, -20px, 0px);
}
.img_about2{
  position: absolute;
  top: -10px;
  left:-10px ;
}
.text_about{
flex: 1;
}
.img_about{
flex: 1;
position: relative;
top: 60px;
}
.size42{
  font-size: 42px;
  font-weight: 400;
  font-family: 'Cardo', serif;
  color: #1B3764;
  margin-bottom: 0px;
}
.bookpubl{
  display: flex;
  justify-content: center;
 padding: 20px 0px 30px 0px;
}
.o2{
flex: 1;

}
.i4{
  flex: 1;
}
.o4{
  flex: 1;
}
.qr_wrap{
  display: flex;
  align-items: center;
  
}
.book_today{
  display: flex;
  align-items: center;
}

.size54{
  font-size: 54px;
  margin: 0 auto;
  font-family: 'Cardo', serif;
  
}
.size17{
font-size: 17px;
color: #969AA0;
margin-right: 50px;
font-family: 'Inter', sans-serif;
}
.vertical{
  margin-right: 30px;
}
.qr{
  width: 484px;
  height: 161px;
  background-color: #1B3764;
}
.img_qr{
  padding: 15px 30px 0px 20px;
}
.trust{
  display: flex;
  justify-content: center;
  text-align: center;
}
.amazen{
  flex: 1;
}
.megan{
  flex: 1;
}
.megank{
  flex: 1;
}
.urban{
  flex: 1;
}
.get_copy{
  display: flex;
  width: 1440px;
  height: 534px;
  background-color: #1B3764 ;
  margin: 0 auto;
}
.right_img2{
  flex: 1;
  margin-top: 80px;
  text-align: center;
}
.whitetext{
  font-size: 19px;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 28.5px;
  padding:20px 60px ;
  color: #fff;
  width: 222px;
  height: 66px;
  text-decoration: none;
  position: relative;
  top:40px;
 border: 2px solid #FFCA42 ;
}
.block{
  flex: 1;
  width:303px ;
  height: 272px;
  background-color: #F4F8FF;
  padding:25px 0px 0px 30px;
}
.what_learn{
  display: flex;
}
.img_whatlearn{
  flex: 1;
  position: relative;
  left: 40px;
}
.vision{
  width: 1440px;
  height: 1154px;
  background-color: #F4F8FF;
  margin: 0 auto;
  padding-top: 70px;
}
.knowledge{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.chapter{
  width: 635px;
  height: 242px;
  background-color: #fff;
  padding: 25px 40px;
}
.size22{
  font-size: 22px;
  font-weight: 400;
  color: #1B3764;
  font-family: 'Cardo', serif;
  line-height: 30.8px;
  position: relative;
}
.start{
  font-size: 19px;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 28.5px;
  padding: 27px 116px;
  color: black;
  width: 429px;
  height: 76px;
  text-decoration: none;
  background-color: #FFCA42;
  margin: 0 auto;
}
.questions{
  text-decoration: none;
  color:#1B3764;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  margin-right: 5px;
}
.button{
  text-align: center;
  position: relative;
  top: 40px;
}
.pb{
  padding-bottom: 20px ;
}
.margin_top{
  margin-top: 10px;
}
.what_learn2{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);   
  margin-right: 30px;
  margin-top: 35px;
  gap: 30px;
}
.img_com{
  display: block;
  margin-right:20px;
}
.size18{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 28.50px;
  color: #1B3764;
 
}
.circles{
  margin-top: 25px;
  margin-right: 10px;
}
.com{
  width: 381px;
  height: 292px;
  background-color: #1B3764;
  margin-bottom: 20px;
  padding: 30px;
}
.com1{
  width: 381px;
  height: 292px;
  background-color: #1B3764;
  position: relative;
  top: 150px;
  padding: 30px;
}
.size24white{
  font-size: 24px;
  font-weight: 400;
line-height: 28.80px;
font-family: 'Cardo', serif;
color: #fff;
position: relative;
top: 15px;
}
.size22white{
color: #fff;
font-size: 22px;
font-family: 'Cardo', serif;
  line-height: 30.8px;
  font-weight: 400;
}
.b{
  margin-left: 20px;
}
.our_readers{
  display: flex;
  justify-content: center;
  padding: 150px 0px 125px;
}
.text_readers{
  flex: 1;
 margin-top: 40px;
}
.artandres{
  width: 1440px;
  height: 1154px;
  background-color: #F4F8FF;
  margin: 0 auto;
  padding-top: 70px;
}
.resources{
  width: 420px;
  height: 622px;
  background-color: #fff;
}
.resources_text{
  padding-left: 35px;
}
.container2{
  max-width: 1300px;
  margin: 0px auto;
  height: 489px;
  margin-top: 50px;
  background-color: #FFCA42;
  margin-bottom: 50px;
  padding-top: 40px;
}
.readmore{
  font-size: 19px;
  font-weight: 400;
  font-family: 'Cardo', serif;
  line-height: 22.80px;
  color: #1B3764;
  text-decoration: none;
  border-bottom: 2px solid #1B3764;
  margin-right: 130px;
}
.input{
width: 656px;
height: 70px;
border: 0;
padding-left: 40px;
font-size: 18px;
line-height: 30.6px;
font-weight: 400;
}
.submit{
  cursor: pointer;
  border: 0;
  width: 328px;
  height: 68px;
  background-color: #1B3764;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30.6px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}
.size18forsub{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 28.50px;
  color: #1B3764;
  margin: 0;
}
.forsub{
  margin-bottom: 40px;
}
.footer{
  width: 1440px;
  height: 486px;
  background-color: #1B3764;
  margin: 0 auto;
}
.container3{
  max-width: 1300px;
  margin: 0px auto;
  height: 351px;
  padding-top: 90px;
}
.footer_img{

height: 198px;
width: 277px;
}
.footer_text{
  width: 198px;
  height: 258px;
  }
.footer_text1{
  width: 297px;
  height: 258px;
  }
  .footer_text2{
    width: 436px;
    height: 258px;
    
  }
.navlogo2{
  margin-right: 10px;
  margin-top: 20px;
}
.text_footer{
  font-size: 18px;
  position: relative;
  color: #B4C7E7;
  font-weight: 400;
  line-height: 30.6px;
  font-family: 'Inter', sans-serif;
 top: 3px;
 left: 5px;
 text-decoration: none;
}

.size18white{
  font-size: 18px;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 28.50px;
  color: #fff;
}
.footerend{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.last{
  text-align: center;

}
.drafted{
  color: #B4C7E7;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  line-height: 25.5px;
  font-weight: 400;
  margin-right: 5px;
}
.flow{
  color: #fff;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-right: 5px;
}
.address{
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: 'Cardo', serif;
  line-height: 27px;
  width: 120px;
}
.address_info{
  font-size: 17px;
  color: #B4C7E7;
  font-weight: 400;
  line-height: 27px;
  flex: 1;
 
}
.into_footer{
  display: flex;
  
}
.size42white{
  font-size: 42px;
  font-weight: 400;
  font-family: 'Cardo', serif;
  color: #fff;
  margin-bottom: 0px;
}
.margintopandbottom{
  margin-top: 5px;
  margin-bottom: 15px;
}
.bigmargintopandbottom{
  margin-bottom: 40px;
}
.bigmargintopandbottom3{
  margin-top: 15px;
}
.bigmargintopandbottom4{
  margin-top: 40px;
}

@media(max-width:1280px){
.wrapper{
  width: 1100px;
}
.nav_toggle{
  display: block;
  cursor: pointer;
}
.container{
  width: 1100px;
}
.author{
  width: 1100px;
}
.about{
  width: 1100px;
}
.author{
  width: 1100px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
}
.get_copy{
  width: 1100px;
}
.vision{
  width: 1100px;
  height: 1600px;
}
.footer{
  width: 1100px;
}
.artandres{
  width: 1100px;
  height: 2200px;
 }
 .nav{
  display: none;
 }

 .img_whatlearn{
  display: none;
 }

.inf{
  display: none;
}
.container{
  width: 1080px;
}
.img_about2{
  width: 500px;
}
.borderskuf{
  width: 480px;
}
.what_learn2{
  margin: 0 auto;
}
.knowledge{
  display: block;
}
.chapter{
  margin: 0 auto;
  margin-bottom: 10px;
}
.resources{
  margin: 0 auto;
  margin-bottom: 15px;
}
.container3{
  width: 1080px;
}
.com{
  margin-top: 100px;
}
.our_readers{
  padding-top: 0;
}
}
@media(max-width:1100px){
  .welcome{
    display: block;
  }
  .chapter{
    height: 250px;
  }
  .wrapper{
    width: 820px;
    height: 1600px;
    text-align: center;
  }
  .order{
    display: block;
    text-align: center;
  }
  .split_about{
    display: block;
   text-align: center;
  }
.img_whatlearn{
  display: none;
}
.bookpubl{
  margin: 0 auto;
}
  .author_title{ 
    width: 800px;
    margin: 0 auto;
  }

  .container{
    width: 800px;
  }
  .about{
    width: 820px;
    height: 1600px;
  }
  .author{
    width: 820px;
    padding: 0;
    display: block;
  }
  .get_copy{
    width: 820px;
  }
  .vision{
    width: 820px;
    height: 1600px;
  }
  .chapter{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 550px;
  }
  .input{
    width: 500px;
  }
  .footer{
    width: 820px;
  }
  .header{
    margin-bottom: 20px;
  }

  .container3{
    width: 820px;
  }
 .dark{
  padding-top: 80px;
 }
 .qr{
 margin: 0 auto;
 }

.what_learn{
  display: flex;
}
.what_learn2{
 
  width: 800px;
}
.block{
  margin: 0 auto;
  margin-bottom: 20px;
}
.resources{
  margin: 0 auto;
  margin-bottom: 20px;
}

.container3{
  width: 800px;
  text-align: center;
}
.footerend{
  display: block;
}
.footer_text{
  width: 100%;
  text-align: center;
}
.footer_text1{
  width: 100%;
  text-align: center;
}
.footer_text2{
  margin: 0 auto;
}
.address{
  margin-left: 60px;
}
.footer_img{
  margin: 0 auto;
}
.footer{
  height: 1300px;
}
.knowledge{
  display: block;
  width: 800px;
}
.text_dark{
  padding-bottom: 100px;
}
.bookpubl{
  width: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;
}
.trust{
  display: block;
}
.our_readers{
  display: block;
  height: 1400px;
  text-align: center;
}
.com{
  margin: 0 auto;
  margin-bottom: 10px;
}
.img_com{
  margin: 0;
}
.com1{
  margin: 0 auto;
  top: 0;
}
.artandres{
  height: 2200px;
  width: 820px;
}
.container2{
  height: 550px;
}
.right_img{
  margin-left: 0;
}
.img_about2{
  position: relative;
 margin: 0 auto;
}
.borderskuf{
  display: none;
}
}
@media(max-width:820px){
  .welcome{
    display: block;
  }
  .wrapper{
    width: 600px;
    height: 1450px;
    text-align: center;
  }

  .order{
    display: block;
    text-align: center;
  }
  .split_about{
    display: block;
   text-align: center;
  }
.img_whatlearn{
  display: none;
}


  .author_title{ 
    width: 600px;
  }
  .img_about2{
  margin:0;
  }
  .author{
    display: block;
  }
  .container{
    width: 600px;
  }
  .author{
    width: 600px;
  }
  .container{
    width: 500px;
  }
  .about{
    width: 600px;
    height: 1600px;
  }
  .author{
    width: 600px;
    padding: 0;
  }
  .get_copy{
    width: 600px;
  }
  .vision{
    width: 600px;
    height: 1800px;
  }
  .chapter{
    height: 280px;
    width: 500px;
    margin-bottom: 20px;
  }

  .footer{
    width: 600px;
  }
  .header{
    margin-bottom: 20px;
  }
  .author_title{
    width: 500px;
  }
  .container3{
    width: 100%;
  }
  .last{
    width: 600px;
    text-align: center;
  }
 .dark{
  padding-top: 80px;
 }
 .qr{
 margin: 0 auto;
 }
.book_today{
  display: block;
}
.get_copy{
  height: 800px;
}
.coffee{
  width: 500px;
}
.what_learn{
  display: flex;
}
.what_learn2{
  display: block;
  width: 500px;
}
.block{
  margin: 0 auto;
  margin-bottom: 20px;
}
.resources{
  margin: 0 auto;
  margin-bottom: 20px;
}
.author_title{
  margin: 0 auto;
}
.container3{
  width: 600px;
}
.inf{
  display: none;
}
.knowledge{
  display: block;
  width: 500px;
}
.text_dark{
  padding-bottom: 100px;
}
.bookpubl{
  width: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.trust{
  display: block;
}
.com{
  margin: 0 auto;
  margin-bottom: 10px;
}
.img_com{
  margin: 0;
}
.com1{
  margin: 0 auto;
  top: 0;
}
.artandres{
  height: 2200px;
  width: 600px;
}
.media{
  width: 500px;
}
.footerend{
 width: 600px;
}
}
@media(max-width:600px){
  .welcome{
    display: block;
  }
  .artandres{
    width: 375px;
  }
  .resources{
    margin: 0;
    width: 375px;
  }
  .resources_text{
    padding: 10px;
  }
  .resimg{
    width: 375px;
  }
  .book_today{
    text-align: center;
  }
  .button{
    width: 375px;
    height: auto;
  }
  .Nig{
    width: 375px;
  }
 .readfree{
  display: block;
  margin-top:30px ;
  border: 0;
  margin-left: 0;
 }
 .navlogo{
  display: block;
  margin-bottom: 10px;
 }
  .wrapper{
    width: 375px;
    height: 1500px;
  }
  .img_about2{
    position: relative;
    width: 390px;
  }
  .img_about{
    width: 350px;
  }
  .borderskuf{
    display: none;
  }
  .order{
    display: block;
  }
  .input{
    width: 330px;
  }
  .split_about{
    display: block;
    padding: 0;
  }
  .author_title{
    
    width: 375px;
  }
  .author{
    display: block;
  }
  .container{
    width: 375px;
  }
  .author{
    width: 375px;
  }
  .about{
    width: 375px;
    height: 1600px;
  }
  .author{
    width: 375px;
    padding: 0;
  }
  .get_copy{
    width: 375px;
    height: 700px;
  }
  .vision{
    width: 375px;
    height: 1850px;
  }
  .chapter{
    margin-bottom: 20px;
  }
  .footer{
    width: 375px;
  }
  .author_title{
    width: 375px;
  }
  .container3{
    width: 375px;
  }
 .dark{
  padding-top: 80px;
 }
 .qr_wrap{
  display: block;
 }
.what_learn{
  display: block;
}
.what_learn2{
  margin: 0;
  width: 375px;
}
.knowledge{
  display: block;
  width: 375px;
}
.text_dark{
  padding-bottom: 100px;
}
.vertical{
  display: none;
}
.bookpubl{
  width: 375px;
  padding: 0;
  display: block;
  text-align: center;
}
.trust{
  display: block;
}
.our_readers{
  display: block;
  height: 1800px;
}
.media{
  width: 340px;
  
}
.right_img{
  padding-top: 50px;
  margin: 0;
}
.qr{
  width: auto;
  height: 300px;
}
.coffee{
  width: 300px;
}
.chapter{
  width: 360px;
  margin: 0;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.com1{
  height: 400px;
  width: 375px;
}
.nav_toggle{
 margin-bottom: 150px;
}
.com{
  height: 400px;
  width: 375px;
}
.container2{
  height: 600px;
}
.start{
  padding: 20px;
}
.footerend{
  display: block;
  text-align: center;
  width: 350px;
}
.last{
  width: 330px;
}
.footer_img{
  text-align: start;
}
.footer_text{
  text-align: start;
}
.footer_text2{
  text-align: start;
  width: 350px;
}
.footer_text1{
  text-align: start;
}
.address{
  margin: 0;
}
.margin_top{
  display: none;
}
.container3{
  width: 330px;
}

}


















